body{
  margin-top:40px;
  background-color: #21212E;
}

.inputID{
  margin:0 auto;
}

.show_infos{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin:0 auto;
}

.show_infos__data{
  display:flex;
  justify-content: center;
  align-items: center;;
  margin-right:20px;
  border-radius: .25rem;
  width: 235px;
  height: 58px;
  color: #fff;
  background-color: rgba(0,0,0,.3);
  opacity: 0.7;
  color: #ffffff;
  font-size:32px;
}

.show_infos__data p{
  margin:0;
  padding: 0;
}